@import 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lighter-cta-color: #b7abb7;
  --main-cta-color: #5A3C5A;
  --darker-cta-color: #412f41;
  --main-background-color: #f7f5f8;
  --surface-background-color: #FFFFFF;
  --main-text-color: #000000;
  --main-border-color: #000000;
}

@mixin main-border {
  border: 1px solid var(--main-border-color);
}

@mixin main-border-radius {
  border-radius: 3px;
}

body {
  padding-top: 125px;
  background: var(--main-background-color);
  @include title-font;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

button {
  border: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  line-height: 1.4;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 800;
}

p {
  font-size: 18px;
}

section {
  border-bottom: 1px solid var(--main-border-color);
  padding: 40px 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.card {
  @include main-border;
  background: var(--surface-background-color);
  padding: 20px;
  cursor: pointer;
  @include main-border-radius;
  transition: 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.icon-list {
  display: flex;
  flex-direction: row;
  gap: 50px;

  .icon-list-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.1s;

    img {
      width: 40px;
      height: 40px;
    }

    .icon:not(h1 .icon) {
      font-size: 40px;
    }

    p {
      font-size: 25px;
      font-weight: 700;
    }
  }

  a.icon-list-el:hover {
    color: var(--main-cta-color);
  }
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5px;
  width: (350px * 3) + (30px * 3);

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include main-border;
    background: var(--surface-background-color);
    padding: 0 20px 20px;
    height: min-content;
    cursor: pointer;
    @include main-border-radius;
    transition: 0.1s ease-in-out;
    width: 350px;

    &:hover {
      transform: scale(1.01);
    }

    p {
      align-self: start;
    }

    img {
      height: 200px;
      width: 348px;
      border-radius: 2px 2px 0 0;
      object-fit: cover;
      object-position: top;
      border-bottom: 1px solid var(--main-border-color);
    }

    h3 {
      font-size: 25px;
      font-weight: 800;
      width: 100%;
      margin-top: 10px;
    }
  }
}

.notion {
  .notion-callout {
    padding: 20px;
    border-radius: 3px;
    background: var(--surface-background-color);
    @include main-border;
    margin: 15px 0;
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .notion-toggle {
    padding: 20px;
    border-radius: 3px;
    background: var(--surface-background-color);
    @include main-border;
    margin: 15px 0;
    display: flex;
    gap: 10px;
    cursor: pointer;

    div * {
      font-size: 18px;
    }

    summary {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .notion-h1 {
    font-size: 36px !important;
    font-weight: 900;
    margin: 30px 0;
  }

  .notion-h2 {
    font-size: 28px !important;
    font-weight: 800;
    margin: 30px 0;
  }

  .notion-h3 {
    font-size: 24px !important;
    font-weight: 700;
    margin: 30px 0;
  }

  p, li {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0;
  }

  li, ol {
    margin-left: 20px;
    word-break: break-word;
  }

  figure {
    width: 50%;
    margin: 15px 0 15px 25%;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    background: var(--surface-background-color);
    cursor: pointer;

    img {
      width: 100%;
      border-radius: 3px;
    }

    figcaption {
      margin-top: 10px;
    }
  }


  .notion-asset-wrapper div {
    padding-bottom: 0 !important;
  }

  a {
    color: var(--main-cta-color);
    text-decoration: underline;
  }
}


label {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-text-color);
}

input:not(.input-with-icon input), .input-with-icon, select {
  padding: 15px;
  @include main-border;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  background: var(--surface-background-color);
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;

  p {
    margin-bottom: 15px;
  }

  .input-with-icon {
    display: flex;
    align-items: center;

    input {
      border: none;
      background: none;
      width: calc(100% - 20px);
      height: 100%;
    }

    .icon {
      cursor: pointer;
    }
  }

  .btn {
    justify-content: center;
    color: #FFF;
  }

  a:not(.btn) {
    color: var(--main-cta-color);
    text-decoration: underline;
    font-weight: 800;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 30px 5vw;
    gap: 20px;
  }

  h1 {
    font-size: 34px;
  }

  h3 {
    font-size: 24px;
  }

  body {
    padding-top: 80px;
  }

  .icon-list {
    flex-direction: row;
    gap: 20px !important;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .icon-list-el {
      p {
        font-size: 18px;
      }
    }
  }

  .card-grid {
    width: 90vw;
    gap: 30px;

    .card {
      width: 100%;

      img {
        height: 150px;
        width: calc(100% + 40px);
      }
    }
  }

  .authForm {
    width: 90vw;
  }
}