@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@mixin title-font {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}